body {
  color: orange;
  background-color: grey;
}

h1 {
  font-family: 'Bree Serif', serif;
  font-size: 80px;
  margin: 20px;
}

h2 {
  font-size: 35px;
}

.introduction {
  font-size: 23px;
  color: black;
}

.additional {
  font-size: 20px;
}
